.up{
  width: 300px;
}
.name{
  width: 295px;
  height: 20px;
  font-size: 14px;
}
.com-content{
  width: 295px;
  height: 150px;
  font-size: 14px;
  padding: 5px;
  padding-right:0 ;
}
.up button{
  font-size: 15px;
  float: right;
}